parameters:
  reportUnmatchedIgnoredErrors: false
  level: 5
  paths:
    - src
    - tests
  tmpDir: build
  ignoreErrors:
    - message: '#has an uninitialized readonly property#'
      path: src/Olifanton/Ton/Transports/Toncenter/Responses/*
