parameters:
  reportUnmatchedIgnoredErrors: false
  level: 5
  paths:
    - src
    - tests
    - examples
  tmpDir: build
  ignoreErrors:
    - message: '#has an uninitialized readonly property#'
      path: src/Olifanton/Ton/Transports/Toncenter/Responses/*
    - message: '#has an uninitialized readonly property#'
      path: src/Olifanton/Ton/Connect/Models/*
    - message: '#has an uninitialized readonly property#'
      path: src/Olifanton/Ton/Connect/Replies/*
    - message: '#Access to an undefined property Olifanton\\TypedArrays\\Uint8Array::\$length#'
    - message: '#Call to an undefined method Mockery\\#'
      path: tests/Olifanton/Ton/*
