<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="build/cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Olifanton/Ton/Tests</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/Olifanton/Ton/IntegrationTests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/cache/phpunit"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Olifanton/Ton/Transports/NullTransport</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>
</phpunit>
